input[type="submit"] {
    border: 0px;
}

#action-list-1{
    display: block;
}

#action-list-2{
    display: none;
}

#action-list-3{
    display: none;
}

#action-list-4{
    display: none;
}

#action-list-5{
    display: none;
}

#action-list-6{
    display: none;
}

input[type="date"] {
    line-height: normal;
}

input[type="image"]:hover {
    height: 19px;
}

.feature-image img{
    max-width: 100%;
    transform: scale(1);
    transition: all 0.3s;
    width: 100%;
}

.feature-image:hover img{
    transform: scale(1.02);
}