#action-list-1{
    display: block;
}

#action-list-2{
    display: none;
}

#action-list-3{
    display: none;
}

#action-list-4{
    display: none;
}

#action-list-5{
    display: none;
}

#action-list-6{
    display: none;
}