input[type="submit"] {
    border: 0px;
}

#action-list-1{
    display: block;
}

#action-list-2{
    display: none;
}

#action-list-3{
    display: none;
}

#action-list-4{
    display: none;
}

#action-list-5{
    display: none;
}

#action-list-6{
    display: none;
}

input[type="date"] {
    line-height: normal;
}

input[type="image"]:hover {
    height: 19px;
}