<!DOCTYPE html>
<html>

<head>
    <title>GYM Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'func.js') }}"></script>

</head>

<body>
    <p nowrap>
        <img src="{{ url_for('video_lateral_raise') }}" />

        <a href="{{ url_for('home') }}"><button>Back</button></a><br>
    </p>

    <h2>Data : </h2>
    <table>
        {% for key, value in stats.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>
        {% endfor %}
    </table>



</body>

</html>