<!DOCTYPE html>
<html>

<head>
	<title>GYM Assistant</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/func.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/browser.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/breakpoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/util.js') }}"></script>
	<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</head>

<body class="subpage">
	<div id="page-wrapper">

		<!-- Header -->
		<section id="header">
			<div class="container">
				<div class="row">
					<div class="col-12">

						<!-- Logo -->
						<h1><a href="{{ url_for('index') }}" id="logo">GYM Assistant</a></h1>

						<!-- Nav -->
						<nav id="nav">
							<a href="{{ url_for('index') }}">主頁</a>
							<a href="#">動作介紹</a>
							<a href="#">使用教學</a>
							<a href="#">使用者</a>
						</nav>

					</div>
				</div>
			</div>
		</section>

		<!-- Content -->
		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-3 col-12-medium">

						<!-- Sidebar -->
						<section>
							<header>
								<h2>身體部位</h2>
							</header>
							<ul class="link-list">
								<li><a href="#" onclick="show_action_list('action-list-1')">手臂</a></li>
								<li><a href="#" onclick="show_action_list('action-list-2')">胸部</a></li>
								<li><a href="#" onclick="show_action_list('action-list-3')">背部</a></li>
								<li><a href="#" onclick="show_action_list('action-list-4')">腹部</a></li>
								<li><a href="#" onclick="show_action_list('action-list-5')">臀部</a></li>
								<li><a href="#" onclick="show_action_list('action-list-6')">腿部</a></li>
							</ul>
						</section>
						<section>
							<header>
								<h2>其他功能</h2>
							</header>
							<p>
								Vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
								iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat.
							</p>
							<ul class="link-list">
								<li><a href="#">功能一</a></li>
								<li><a href="#">功能二</a></li>
								<li><a href="#">功能三</a></li>
								<li><a href="#">功能四</a></li>
							</ul>
						</section>

					</div>

					<div class="col-9 col-12-medium">

						<!-- Main Content -->
						<section id="action-list-1">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="{{ url_for('action_biceps_curl') }}" , style="text-decoration: none">
											<h2>彎舉</h2>
											<p>Biceps curl</p>
										</a>
									</div>

									<div class="col-6">
										<a href="{{ url_for('action_biceps_curl') }}" class="feature-image">
											<img src="{{ url_for('static', filename = 'images/ac01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="{{ url_for('action_lateral_raise') }}" , style="text-decoration: none">
											<h2>側平舉</h2>
											<p>Lateral raise</p>
										</a>
									</div>
									<div class="col-6">
										<a href="{{ url_for('action_lateral_raise') }}" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/ac04.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>前平舉</h2>
											<p>Front raise</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>前彎划船</h2>
											<p>Bent-over-row</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="action-list-2">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="{{ url_for('action_shoulder_press') }}" , style="text-decoration: none">
											<h2>肩推</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="{{ url_for('action_shoulder_press') }}" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/ac03.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>下胸撐體</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>鑽石橫走</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>伏地挺身</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="action-list-3">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>引體向上</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>滑輪下拉</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>坐姿划船</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>直臂下拉</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="action-list-4">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>棒式</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>鳥狗式</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>仰臥起坐</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>平板登階</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="action-list-5">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>臀推</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>仰躺開合</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>仰躺提臀</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>甩動壺鈴</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

						<section id="action-list-6">
							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="{{ url_for('action_squat') }}" , style="text-decoration: none">
											<h2>深蹲</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="action_squat" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/ac02.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>單腿蹲</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>弓箭步</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>

							<div class="col-3 col-6-medium col-12-small">
								<div class="row">
									<div class="col-6">
										<a href="#" , style="text-decoration: none">
											<h2>動作</h2>
											<p>action</p>
										</a>
									</div>
									<div class="col-6">
										<a href="#" class="feature-image ">
											<img src="{{ url_for('static', filename = 'images/pic01.jpg') }}" alt="" />
										</a>
									</div>
								</div>
							</div>
						</section>

					</div>
		</section>

	</div>

	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-8 col-12-medium">

					<!-- Links -->
					<section>
						<h2>Links to Important Stuff</h2>
						<div>
							<div class="row">
								<div class="col-3 col-12-small">
									<ul class="link-list last-child">
										<li><a href="#">Facebook</a></li>
										<li><a href="#">Twitter</a></li>
										<li><a href="#">Instagram</a></li>
										<li><a href="#">YouTube</a></li>
									</ul>
								</div>
								<div class="col-3 col-12-small">
									<ul class="link-list last-child">
										<li><a href="#">Github</a></li>
										<li><a href="#">Medium</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Premium</a></li>
									</ul>
								</div>
								<div class="col-3 col-12-small">
									<ul class="link-list last-child">
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Feedback</a></li>
										<li><a href="#">Contact us</a></li>
										<li><a href="#"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</section>

				</div>
				<div class="col-4 col-12-medium imp-medium">

					<!-- Blurb -->
					<section>
						<h2>About us</h2>
						<p>
							This application is developed for those who workout at home.<br>
							Select what you gonna do and stand in front of the camera. 
							Please make sure the full body is inside the camera view.<br>
							You can also set how many reps you are going to do. 
							And the app will record what you have complete.
						</p>
					</section>

				</div>
			</div>
		</div>
	</section>

	<!-- Copyright -->
	<div id="copyright">
		&copy; All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
	</div>

	</div>

</body>

</html>