<!DOCTYPE html>
<html>

<head>
	<title>GYM Assistant</title>
	<link rel="stylesheet" type="text/css" 
		href="{{ url_for('static', filename = 'style.css') }}">
	<script type="text/javascript" 
		src="{{ url_for('static', filename = 'func.js') }}"></script>
</head>

<body>
	<h1>Index page</h1>
	<!-- <form method="POST"> -->
		<a href="{{ url_for('home') }}"><button>Origin</button></a><br>
		還沒成功<br>
		<a href="{{ url_for('home') }}"><button type="submit" name="actionChoose" value="biceps_curl">Biceps curl</button></a>
		<a href="{{ url_for('home') }}"><button type="submit" name="actionChoose" value="squat">Squat</button></a>
		<a href="{{ url_for('home') }}"><button type="submit" name="actionChoose" value="shoulder_press">Shoulder_press</button></a>
		<a href="{{ url_for('home') }}"><button type="submit" name="actionChoose" value="lateral_raise">Lateral raise</button></a>
	<!-- </form> -->
</body>

</html>