{% extends 'layout/layout_profile.html' %}
{% block profileBodyContent %}
<!-- Main Content -->
<section>
    <header>
        <h2 class="bold-word">{{ loginStats[1] }}</h2>
        <h3>Delete your account</h3>
    </header>
    <p>
        <img src="{{ url_for('static', filename = 'images/warning.png') }}" alt="warning sign" class="warn-sign"/>
    </p>
    <p>
        <form action="{{ url_for('profile_del_acc') }}"  method="post">
            <input type="submit" class="button-large" title="Delete" value="刪除帳號"></a>
        </form>
    </p>
    <p class="warn-text bold-word"> 
        All your history will be deleted
    </p>
</section>
{% endblock %}