{% extends 'layout/layout_profile.html' %}
{% block profileBodyContent %}
<!-- Main Content -->
<section>
    <header>
        <h2 class="bold-word">{{ loginStats[1] }}</h2>
        <h3>Welcome to your goal</h3>
    </header>
    <p>
        <form method="post">
            <p>
                <label for="date-range">Date</label><br>
                <input type="date" name="start_date">
                &ensp;~&ensp;
                <input type="date" name="end_date">&ensp;
                <input type="image" src="{{ url_for('static', filename = 'images/search-black.png') }}" alt="submit" height="18px">
            </p>
        </form>
        <table>
            <tr>
                <td>Action</td>
                <td>&emsp; Reps</td>
                <td>&emsp; Date</td>
                <td>&emsp; Status</td>
            </tr>
            {% for i in goal %}
            <tr>
                <td>{{ i[1].replace('_', ' ') }}</td>
                <td>&emsp; {{ i[2] }}</td>
                <td>&emsp; {{ i[3] }}</td>
                {% if i[4] == false %}
                <td>&emsp; Not Done</td>
                {% else %}
                <td>&emsp; Done</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </p>
</section>
{% endblock %}